<div class="w-full flex justify-center items-center">
  <div class="relative mb-5 mx-auto p-5 border w-full max-w-6xl shadow-lg rounded-lg bg-white">
    <!-- Botón para ir atrás -->
    <button (click)="goBack()"
      class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
      </svg>
    </button>

    <!-- Editar y Eliminar -->
    <div class="absolute top-0 right-5 mt-5">
      <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDotsHorizontal"
        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 16 3">
          <path
            d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div id="dropdownDotsHorizontal"
        class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
          <li>
            <a id="updateProductButton" class="block px-4 py-2 hover:bg-gray-100 hover:cursor-pointer">Editar</a>
          </li>
          <li>
            <a class="block px-4 py-2 hover:bg-gray-100 hover:cursor-pointer">Eliminar</a>
          </li>
        </ul>

      </div>
    </div>

    <app-spinner *ngIf="spinner"></app-spinner>

    <div class="text-left md:pl-10 p-4" *ngIf="!spinner">
      <!-- Título del proyecto con icono de Font Awesome -->
      <div class="flex items-center mb-10 gap-3">
        <i class="fa-solid fa-person-circle-question text-3xl mr-4"></i>
        <h3 class="text-2xl font-semibold text-gray-900">Radicado Número {{ pqrs[0].PqrsID }}</h3>
        <span [class]="getStateClass(pqrs.Estado)" class="text-sm font-medium px-2.5 py-0.5 rounded">
          {{ pqrs.Estado || 'Recibido' }}
        </span>
      </div>

      <!-- Grid de dos columnas para los campos -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4">
        <div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-clipboard-list fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Tipo:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].TipoPqrs }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-building fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Empresa:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].Empresa }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-id-badge fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">NIT:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].NIT }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-user fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Nombre:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].Nombre }}</span>
          </div>
        </div>
        <div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-envelope fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Email:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].Email }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-briefcase fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Cargo:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].Cargo }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-phone fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Teléfono:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].Telefono }}</span>
          </div>
          <div class="flex items-center mb-4">
            <i class="fa-solid fa-calendar-days fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium mr-2">Fecha:</span>
            <span class="text-sm text-gray-500">{{ pqrs[0].FechaCreacion | date }}</span>
          </div>
        </div>
      </div>

      <!-- Descripción del caso -->
      <div class="mb-4 px-4">
        <div class="flex items-center mb-2 ">
          <i class="fa-solid fa-align-left fa-sm text-gray-500 mr-2"></i>
          <span class="text-gray-700 font-medium">Descripción:</span>
        </div>
        <p class="text-sm text-gray-500">{{ pqrs[0].Descripcion }}</p>
      </div>

      <!-- Mostrar Archivos -->
      <div class="my-8 px-4">
        <div class="flex items-center justify-between mb-2 ">
          <div>
            <i class="fa-solid fa-file-pen fa-sm text-gray-500 mr-2"></i>
            <span class="text-gray-700 font-medium">Archivos Soporte:</span>
          </div>
          <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Añadir Archivo
          </button>
        </div>
        <div *ngIf="pqrs.length > 0">
          <ul class="ml-10">
            <li *ngFor="let file of pqrs" class="flex items-center justify-between w-4/5">
              <div class="flex items-center gap-2">
                <img [src]="getFileIcon(file)" alt="{{ file.type }} icon" class="w-8 mt-1" />
                {{ file.FileName }}
              </div>
              <a [href]="file.FileURL" target="_blank" download>
                <i class="fa-solid fa-file-arrow-down text-2xl text-gray-500 hover:cursor-pointer"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <!-- Para Investigación -->
      <div class="my-8 px-4">
        <div class="flex items-center mb-2 ">
          <i class="fa-solid fa-magnifying-glass fa-sm text-gray-500 mr-2"></i>
          <span class="text-gray-700 font-medium">Investigación:</span>
        </div>
      </div>


      <!-- Para Planes de Acción -->
      <div class="my-8 px-4">
        <div class="flex items-center mb-2 ">
          <i class="fa-solid fa-clipboard-check fa-sm text-gray-500 mr-2"></i>
          <span class="text-gray-700 font-medium">Planes de Acción:</span>
        </div>
      </div>
    </div>
  </div>
</div>
