<div class="mt-24" *ngIf="spinner">
  <app-spinner></app-spinner>
</div>

<section class="" *ngIf="!spinner">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16">
    <div class="grid gap-8 items-center lg:grid-cols-12">
      <div class="lg:col-span-7">
        <h1
          class="max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
          {{ noticia.Titulo }}
        </h1>
        <img [src]="noticia.UrlImg" class="mx-auto h-auto w-full lg:hidden" alt="Imagen de Noticia">
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          {{ noticia.Descripcion }}
        </p>
      </div>
      <div class="lg:col-span-5 lg:flex hidden rounded-md overflow-hidden">
        <img [src]="noticia.UrlImg" class="h-auto w-full object-cover" alt="Imagen de Noticia">
      </div>
    </div>
  </div>
</section>

<!-- Carrousel -->
<section class="mt-4" *ngIf="!spinner">
  <app-carrousel></app-carrousel>
</section>

<!-- Blog -->
<section class="py-12 px-4" *ngIf="!spinner">
  <div class="max-w-6xl mx-auto">
    <!-- Título de la Sección -->
    <div class="text-center mb-12 mt-4">
      <h2 class="text-3xl lg:text-4xl font-bold">Nuestro Blog</h2>
      <p class="text-gray-600 mt-4">Las últimas noticias y actualizaciones</p>
    </div>

    <!-- Filas de Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <!-- Card -->
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" *ngFor="let blog of blogs">
        <!-- Envolver la imagen en un enlace que redirige al blog -->
        <a [routerLink]="['../atencion-al-cliente/blogs', blog.BlogID]"
          class="block hover:opacity-75 transition-opacity duration-300">
          <img class="w-full h-48 object-cover rounded-t-lg" [src]="blog.UrlImg" alt="{{ blog.Titulo }}" loading="lazy"
            (error)="onImageError($event)" />
        </a>
        <div class="p-5">
          <!-- Envolver el título en un enlace que redirige al blog -->
          <a [routerLink]="['../atencion-al-cliente/blogs', blog.BlogID]">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{ blog.Titulo.length > 60 ? (blog.Titulo.substring(0, 60) + '...') : blog.Titulo }}
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ blog.Resumen.length > 120 ? (blog.Resumen.substring(0, 120) + '...') : blog.Resumen }}
          </p>
          <a [routerLink]="['../atencion-al-cliente/blogs', blog.BlogID]"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Leer Blog
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
