.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.Descripcion {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
  transform: translateY(100%);
}

.swiper-slide:hover .Descripcion {
  opacity: 1;
  transform: translateY(0);
}
