.text-shadow {
  text-shadow: 4px 4px 8px #ffffff; /* X-offset, Y-offset, blur radius, color */
}

.proyecto {
  border-radius: 20px;
  box-shadow:  15px 15px 50px #bebebe,
               -15px -15px 50px #ffffff;
}
