<div class="relative">
  <h2 class="text-3xl font-bold mt-14 ml-5">Afectaciones a Conductores</h2>


  <!-- Formulario para subir archivo -->
  <form class="flex flex-col items-center p-6 max-w-2xl mx-auto py-8" (ngSubmit)="onSubmit()">
    <label class="block text-sm font-medium mb-2" for="file_input">Subir Excel con los cruces</label>
    <input
      class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer focus:outline-none focus:border-transparent"
      id="file_input" type="file"
      accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      (change)="onFileChange($event)">
    <button type="submit" *ngIf="excelData.length"
      class="px-14 py-2 bg-red-600 text-white rounded-lg mt-4 hover:bg-red-700"> Enviar </button>
  </form>

  <!-- Tabla para mostrar los datos -->
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-14" *ngIf="excelData.length">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="py-3 px-6">Tiquete</th>
          <th scope="col" class="py-3 px-6">Nombre</th>
          <th scope="col" class="py-3 px-6">Cedula</th>
          <th scope="col" class="py-3 px-6">Placa</th>
          <th scope="col" class="py-3 px-6">Fecha</th>
          <th scope="col" class="py-3 px-6">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let item of excelData">
          <td class="py-4 px-6">{{item.tiquete}}</td>
          <td class="py-4 px-6">{{item.nombre}}</td>
          <td class="py-4 px-6">{{item.cedula}}</td>
          <td class="py-4 px-6">{{item.placa}}</td>
          <td class="py-4 px-6">{{item.fecha | date:'dd/MM/yyyy':'UTC'}}</td>
          <td class="py-4 px-6">$ {{ item.valor | number:'1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="envio" class="flex my-10 w-full">
    <div class="mx-auto bg-green-700 text-white p-10 rounded-xl font-semibold"> <i class="fa-solid fa-circle-check"></i>
      ENVIADO CORRECTAMENTE</div>
  </div>

  <!-- Ver Historial de Cruces -->
  <h2 class="text-2xl font-bold pb-4 ml-5">Historial de afectaciones</h2>

  <div class="relative overflow-auto m-4 mb-20 shadow-md sm:rounded-lg bg-white">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
      <div class="w-full md:w-1/2">
        <form class="flex items-center">
          <label for="simple-search" class="sr-only">Buscar</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <input type="text" id="simple-search" (input)="filtroTabla()" [(ngModel)]="filtro" name="filtro"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Buscar">
          </div>
        </form>
      </div>
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <button type="button" data-modal-target="comprobante-modal" data-modal-toggle="comprobante-modal"
          class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
          <svg class="w-6 h-6 text-white mr-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14m-7 7V5" />
          </svg>
          Añadir Comprobante
        </button>
      </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Tiquete
          </th>
          <th scope="col" class="px-6 py-3">
            Nombre
          </th>
          <th scope="col" class="px-6 py-3">
            Cedula
          </th>
          <th scope="col" class="px-6 py-3">
            Placa
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha
          </th>
          <th scope="col" class="px-6 py-3">
            Valor
          </th>
          <th scope="col" class="px-6 py-3">
            Aprobado
          </th>
          <th scope="col" class="px-6 py-3">
            Comprobante
          </th>
        </tr>
      </thead>
      <tbody *ngIf="cruces.length">
        <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let item of crucesFiltrados">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{item.Tiquete}}
          </th>
          <td class="px-6 py-4">{{item.Nombre}}</td>
          <td class="px-6 py-4">{{item.Cedula}}</td>
          <td class="px-6 py-4">{{item.Placa}}</td>
          <td class="px-6 py-4">{{item.Fecha | date:'dd/MM/yyyy':'UTC'}}</td>
          <td class="flex items-center px-6 py-4">$ {{ item.Valor | number:'1.0-0' }}</td>
          <td class="px-6 py-4">
            <span *ngIf="!item.Aprobado" class="p-4 text-red-500 hover:cursor-pointer"
              (click)="aprobarCruce(item.Id, 1)">No Aprobado</span>
            <span *ngIf="item.Aprobado" class="p-4 text-green-500 hover:cursor-pointer"
              (click)="aprobarCruce(item.Id, 0)">Aprobado</span>
          </td>
          <td class="px-6 py-4">
            <span *ngIf="item.Comprobante != null" (click)="getComprobante(item.Comprobante)"
              class="p-4 text-green-500 hover:cursor-pointer">Descargar</span>
            <span *ngIf="item.Comprobante == null" class="p-4 text-red-500">Sin Comprobante</span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginacion -->
    <nav *ngIf="cruces.length"
      class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
      aria-label="Table navigation">
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Mostrando
        <span class="font-semibold text-gray-900 dark:text-white">{{ (pageNumber - 1) * pageSize + 1 }}-{{ (pageNumber
          - 1) * pageSize + cruces.length }}</span>
        de
        <span class="font-semibold text-gray-900 dark:text-white">{{ totalNovedades }}</span>
      </span>
      <ul class="inline-flex items-stretch -space-x-px">
        <!-- Botón Prev -->
        <li>
          <button (click)="goToPreviousPage(); $event.preventDefault()" [disabled]="pageNumber <= 1"
            class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </li>
        <!-- Botones de números de página -->
        <li *ngFor="let page of pages">
          <button href="#" (click)="goToPage(page); $event.preventDefault()" [class.bg-slate-100]="page === pageNumber"
            class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            {{ page }}
          </button>
        </li>
        <!-- Mostrar "..." para indicar un rango más amplio de páginas -->
        <li *ngIf="totalPages > 5 && pageNumber < totalPages - 2">
          <button href="#"
            class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</button>
        </li>

        <li *ngIf="totalPages > 5">
          <button href="#" (click)="goToPage(totalPages); $event.preventDefault()"
            [class.active]="pageNumber === totalPages"
            class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            {{ totalPages }}
          </button>
        </li>
        <!-- Botón Post -->
        <li>
          <button (click)="goToNextPage(); $event.preventDefault()" [disabled]="pageNumber * pageSize >= totalNovedades"
            class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </li>
      </ul>
    </nav>
    <div *ngIf="!cruces.length" class="w-full flex justify-center py-10 text-xl">
      No se encontraron datos disponibles
    </div>
  </div>
</div>




<!-- Modal subir comprobantes -->
<div id="comprobante-modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div id="ModalComprobantes" class="relative m-2 mt-40 rounded-lg w-full max-w-4xl bg-slate-100">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Subir Comprobante <span class=" font-thin">(De momento no está en funcionamiento)</span>
      </h3>
      <button type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="comprobante-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal content -->
    <form (submit)="enviarDatos()" class="overflow-x-scroll p-4">
      <div class="mt-4">
        <input type="file" accept=".pdf" (change)="seleccionarArchivo($event)" class="block w-full text-sm text-gray-500
        file:mr-4 file:py-2 file:px-4
        file:border-0 file:text-sm file:font-semibold
        file:bg-gray-50 file:text-gray-700
        hover:file:bg-gray-100">
      </div>

      <table class="w-full leading-normal overflow-x-scroll">
        <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Seleccionar</th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Tiquete</th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Nombre</th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Cedula</th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Fecha</th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
              Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cruce of crucesSinComprobantes" class="hover:bg-gray-100">
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <input type="checkbox" class="leading-tight" [(ngModel)]="cruce.seleccionado" name="seleccionado">
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ cruce.Tiquete }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ cruce.Nombre }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ cruce.Cedula }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ cruce.Fecha | date:'dd/MM/yyyy':'UTC'}}
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">$ {{ cruce.Valor | number:'1.0-0' }}</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="mt-3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-8 rounded">
        Enviar
      </button>
    </form>


  </div>
</div>
