<section class="w-full h-full">
  <!-- Botón de agregar publicación -->
  <app-agregar-publicacion></app-agregar-publicacion>

  <!-- Noticias -->
  <h1 class="text-4xl font-bold leading-tight text-gray-900 dark:text-white mb-4 mt-10">Todas las Noticias</h1>
  <!-- Tabla de Noticias -->
  <app-tabla-publicacion [datosTabla]="noticias" [tipo]="'Noticias'" (eliminar)="eliminar()"></app-tabla-publicacion>

  <!-- Título -->
  <h1 class="text-4xl font-bold leading-tight text-gray-900 dark:text-white mb-4 mt-10">Todos los Blogs</h1>
  <!-- Tabla de Blogs -->
  <app-tabla-publicacion [datosTabla]="blogs$ | async" [tipo]="'Blogs'" (eliminar)="eliminar()"></app-tabla-publicacion>
</section>
