<!-- Ver Historial de Cruces -->
<h2 class="text-3xl font-bold pb-4 ml-5">Historial de afectaciones</h2>

<div class="relative overflow-auto m-4 mb-20 shadow-md sm:rounded-lg bg-white">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="w-full md:w-1/2">
            <form class="flex items-center">
                <label for="simple-search" class="sr-only">Buscar</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input type="text" id="simple-search" (input)="filtroTabla()" [(ngModel)]="filtro" name="filtro"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Buscar">
                </div>
            </form>
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tiquete
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Cedula
                </th>
                <th scope="col" class="px-6 py-3">
                    Placa
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Valor
                </th>
                <th scope="col" class="px-6 py-3">
                    Aprobado
                </th>
                <th scope="col" class="px-6 py-3">
                    Comprobante
                </th>
            </tr>
        </thead>
        <tbody *ngIf="cruces.length">
            <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let item of crucesFiltrados">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item.Tiquete}}
                </th>
                <td class="px-6 py-4">{{item.Nombre}}</td>
                <td class="px-6 py-4">{{item.Cedula}}</td>
                <td class="px-6 py-4">{{item.Placa}}</td>
                <td class="px-6 py-4">{{item.Fecha | date:'dd/MM/yyyy':'UTC'}}</td>
                <td class="flex items-center px-6 py-4">$ {{ item.Valor | number:'1.0-0' }}</td>
                <td class="px-6 py-4">
                    <span *ngIf="!item.Aprobado" class="p-4 text-red-500 hover:cursor-pointer" (click)="aprobarCruce(item.Id, 1)" >No Aprobado</span>
                    <span *ngIf="item.Aprobado" class="p-4 text-green-500 hover:cursor-pointer" (click)="aprobarCruce(item.Id, 0)">Aprobado</span>
                </td>
                <td class="px-6 py-4">
                    <span *ngIf="item.Comprobante != null" (click)="getComprobante(item.Comprobante)"
                        class="p-4 text-green-500 hover:cursor-pointer">Descargar</span>
                    <span *ngIf="item.Comprobante == null" class="p-4 text-red-500">Sin Comprobante</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!cruces.length" class="w-full flex justify-center py-10 text-xl">
        No se encontraron datos disponibles
    </div>
</div>
